flows.json
[{"id":"2daaac69.53a9e4","type":"tab","label":"Piscine","disabled":false,"info":""},{"id":"dbefc790.103258","type":"tab","label":"RFXCOM","disabled":false,"info":""},{"id":"127e24f3.92106b","type":"mqtt-broker","z":"","name":"domobeyou","broker":"192.168.1.46","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb25499c.f80068","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"nodered","name":"","usetls":false,"tls":""},{"id":"aa6b2b53.6856b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"66de25f5.a92b7c","type":"ui_tab","z":"","name":"Piscine","icon":"dashboard"},{"id":"df70d2ca.b16c9","type":"ui_group","z":"","name":"Temperature de l'eau","tab":"66de25f5.a92b7c","order":2,"disp":true,"width":"6","collapse":false},{"id":"174fa4e8.9fe66b","type":"ui_group","z":"","name":"Auto","tab":"66de25f5.a92b7c","order":1,"disp":false,"width":"6","collapse":false},{"id":"86f53249.9289a","type":"ui_group","z":"","name":"Temperature du local","tab":"66de25f5.a92b7c","order":3,"disp":true,"width":"6","collapse":false},{"id":"12a7f18a.4784fe","type":"ui_group","z":"","name":"Température extérieure","tab":"66de25f5.a92b7c","order":4,"disp":true,"width":"6","collapse":false},{"id":"1c616bbb.df5f04","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"3d3e9eb2.4a2db2","type":"rfxtrx-port","z":"","port":"/dev/USBrfxcom","enableDebug":false,"rfyVenetianMode":"EU"},{"id":"2011ffe6.94d77","type":"PT2262-device-list","z":"","name":"PT2262","devices":[{"device":["VMC","set"],"payload":"OFF","rawData":"0x755403","pulseWidth":537},{"device":["VMC","set"],"payload":"ON","rawData":"0x755403","pulseWidth":537}]},{"id":"a05c1810.211878","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"eau_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":150,"y":140,"wires":[["394aedb8.d6fa72","65059d15.3cd9b4","34372126.c2f4fe"]]},{"id":"4214d86f.391ef8","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"ext_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":140,"y":200,"wires":[["394aedb8.d6fa72","52a6920c.4e516c","f6e95772.ead428"]]},{"id":"e0702f4.dee88d","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"local_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":150,"y":260,"wires":[["394aedb8.d6fa72","9c112bf3.b36c28","d23adfdb.a3504"]]},{"id":"c23c0686.3810e8","type":"influxdb out","z":"2daaac69.53a9e4","influxdb":"bb25499c.f80068","name":"","measurement":"","precision":"","retentionPolicy":"","x":820,"y":240,"wires":[]},{"id":"394aedb8.d6fa72","type":"function","z":"2daaac69.53a9e4","name":"update to influx","func":"msg.payload = parseFloat(msg.payload)\nmsg.measurement = msg.topic.split(\"/\")[0]\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["c23c0686.3810e8"]]},{"id":"6e892e9d.46663","type":"influxdb in","z":"2daaac69.53a9e4","influxdb":"bb25499c.f80068","name":"Average water temperature","query":"SELECT MEAN(value) FROM eau_piscine WHERE time > now() - 1d","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["e59b1b3a.55ec78","45c2b7df.81f338"]]},{"id":"cb5b0c10.c6d0f","type":"comment","z":"2daaac69.53a9e4","name":"Feed influxdb","info":"","x":110,"y":100,"wires":[]},{"id":"3bb52dc5.656782","type":"comment","z":"2daaac69.53a9e4","name":"Calculate average water temperature once a day","info":"","x":220,"y":340,"wires":[]},{"id":"e59b1b3a.55ec78","type":"debug","z":"2daaac69.53a9e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"3a3b5b2c.94fba4","type":"inject","z":"2daaac69.53a9e4","name":"At 3am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"10","x":100,"y":380,"wires":[["6e892e9d.46663"]]},{"id":"dc13b284.b1c6a","type":"schedex","z":"2daaac69.53a9e4","name":"Filtration timer","suspended":false,"lat":"","lon":"","ontime":"","ontopic":"piscine/filtration/switch","onpayload":"ON","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"piscine/filtration/switch","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":900,"y":460,"wires":[["2e3a8c59.f56134"]]},{"id":"45c2b7df.81f338","type":"function","z":"2daaac69.53a9e4","name":"Calculate filtration schedule","func":"// Règle de filtration:\n// Si t<10° => 2h par jour, de 4h à 6h\n// Si t<=15° => temp de l'eau / 3, à partir de 12h\n// Si t>15° => temp de l'eau / 2, à partir de 10h\n\nvar average_temp = msg.payload[0].mean\nif (average_temp < 10) {\n    msg.payload.ontime = \"04:00\"\n    msg.payload.offtime = \"06:00\"\n}\nelse if (average_temp <= 15) {\n    msg.payload.ontime = \"12:00\"\n    msg.payload.offtime = String(12 + parseInt(average_temp / 3)) + \":00\"\n}\nelse {\n    msg.payload.ontime = \"10:00\"\n    var offhour = parseInt(average_temp / 2)\n    offhour = offhour - (offhour % 2) //multiple of 2\n    offhour = 10 + offhour\n    if (offhour >= 24) {\n        offhour = offhour - 24\n    }\n    msg.payload.offtime = String(offhour) + \":00\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["dc13b284.b1c6a","2735ef12.0aa53","2b092f83.8bc29"]]},{"id":"7a0913d.00c6cec","type":"inject","z":"2daaac69.53a9e4","name":"At nodered restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"20","x":130,"y":440,"wires":[["6e892e9d.46663"]]},{"id":"45655cba.d66d84","type":"inject","z":"2daaac69.53a9e4","name":"test temp","topic":"","payload":"[{\"time\":\"2018-04-05T21:14:13.255Z\",\"mean\":25.54829545454545}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":480,"wires":[["45c2b7df.81f338"]]},{"id":"393cffef.32903","type":"debug","z":"2daaac69.53a9e4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1590,"y":420,"wires":[]},{"id":"96df1794.dded88","type":"pushover","z":"2daaac69.53a9e4","name":"","device":"","title":"Filtration automatique","priority":"-1","sound":"","url":"","url_title":"","x":1640,"y":460,"wires":[]},{"id":"2735ef12.0aa53","type":"change","z":"2daaac69.53a9e4","name":"","rules":[{"t":"move","p":"payload.ontime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":528,"wires":[["d6e15145.8a824"]]},{"id":"d6e15145.8a824","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/ontime","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1210,"y":528,"wires":[]},{"id":"2b092f83.8bc29","type":"change","z":"2daaac69.53a9e4","name":"","rules":[{"t":"move","p":"payload.offtime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":586,"wires":[["a3e0303b.494ea"]]},{"id":"a3e0303b.494ea","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/offtime","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1210,"y":586,"wires":[]},{"id":"49c5dc34.0ce984","type":"mqtt out","z":"2daaac69.53a9e4","name":"set filtration","topic":"","qos":"2","retain":"false","broker":"127e24f3.92106b","x":1610,"y":500,"wires":[]},{"id":"8a990534.c9e578","type":"comment","z":"2daaac69.53a9e4","name":"Mode auto","info":"Activer/désactiver la filtration automatique","x":120,"y":520,"wires":[]},{"id":"62a46da.e17ed94","type":"comment","z":"2daaac69.53a9e4","name":"Gestion du mode force","info":"2h\n4h\nIndéfini","x":160,"y":680,"wires":[]},{"id":"4fd56cb4.0ea754","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/force","qos":"2","broker":"127e24f3.92106b","x":160,"y":740,"wires":[["5848dd1.64a1724"]]},{"id":"5848dd1.64a1724","type":"rbe","z":"2daaac69.53a9e4","name":"if value changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":740,"wires":[["c3a8a7af.dc5b68"]]},{"id":"c3a8a7af.dc5b68","type":"switch","z":"2daaac69.53a9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"99","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":780,"wires":[["f71e084d.c41158"],["3af49e70.09db12"],["1854a5de.917e5a","3af49e70.09db12"]]},{"id":"bb08d5c4.35c098","type":"change","z":"2daaac69.53a9e4","name":"ask to stop","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[["dc13b284.b1c6a"]]},{"id":"2e3a8c59.f56134","type":"switch","z":"2daaac69.53a9e4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"info","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":460,"wires":[["d6d1f83c.530c38"],["393cffef.32903","96df1794.dded88","49c5dc34.0ce984"]]},{"id":"d6d1f83c.530c38","type":"change","z":"2daaac69.53a9e4","name":"Set filtration value","rules":[{"t":"move","p":"payload.state","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"piscine/filtration/switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":380,"wires":[["5d111393.974e1c"]]},{"id":"5d111393.974e1c","type":"uppercase","z":"2daaac69.53a9e4","name":"","x":1400,"y":380,"wires":[["393cffef.32903","96df1794.dded88","49c5dc34.0ce984"]]},{"id":"3af49e70.09db12","type":"change","z":"2daaac69.53a9e4","name":"Suspend timer","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.suspended","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":740,"wires":[["61e02f1f.ec858","dc13b284.b1c6a"]]},{"id":"61e02f1f.ec858","type":"change","z":"2daaac69.53a9e4","name":"force start filtration","rules":[{"t":"set","p":"topic","pt":"msg","to":"piscine/filtration/switch","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":740,"wires":[["49c5dc34.0ce984"]]},{"id":"1854a5de.917e5a","type":"change","z":"2daaac69.53a9e4","name":"Set duration in milliseconds","rules":[{"t":"set","p":"delay","pt":"msg","to":"$number(payload) * 3600000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["27f7cbf7.4e2ff4"]]},{"id":"f71e084d.c41158","type":"change","z":"2daaac69.53a9e4","name":"Unsuspend timer","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.suspended","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["dc13b284.b1c6a","bb08d5c4.35c098"]]},{"id":"27f7cbf7.4e2ff4","type":"delay","z":"2daaac69.53a9e4","name":"Delay off filtration","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":800,"wires":[["358bedd8.5ebd22"]]},{"id":"c06c76ac.d84d68","type":"mqtt out","z":"2daaac69.53a9e4","name":"Stop force mode","topic":"piscine/filtration/force","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1480,"y":800,"wires":[]},{"id":"358bedd8.5ebd22","type":"change","z":"2daaac69.53a9e4","name":"payload=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":800,"wires":[["c06c76ac.d84d68"]]},{"id":"3b27ec3d.ac87e4","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/auto","qos":"2","broker":"127e24f3.92106b","x":150,"y":580,"wires":[["4d0a0c76.43edf4","1b9eccc8.e504f3"]]},{"id":"4d0a0c76.43edf4","type":"switch","z":"2daaac69.53a9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":580,"wires":[["cb2ac210.ee3f3"],["f71e084d.c41158"]]},{"id":"cb2ac210.ee3f3","type":"change","z":"2daaac69.53a9e4","name":"Suspend timer","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.suspended","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[["dc13b284.b1c6a"]]},{"id":"65059d15.3cd9b4","type":"ui_chart","z":"2daaac69.53a9e4","name":"","group":"df70d2ca.b16c9","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":370,"y":80,"wires":[[],[]]},{"id":"34372126.c2f4fe","type":"ui_gauge","z":"2daaac69.53a9e4","name":"","group":"df70d2ca.b16c9","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-3","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":120,"wires":[]},{"id":"52a6920c.4e516c","type":"ui_chart","z":"2daaac69.53a9e4","name":"","group":"12a7f18a.4784fe","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":220,"wires":[[],[]]},{"id":"f6e95772.ead428","type":"ui_gauge","z":"2daaac69.53a9e4","name":"","group":"12a7f18a.4784fe","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-3","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":260,"wires":[]},{"id":"9c112bf3.b36c28","type":"ui_chart","z":"2daaac69.53a9e4","name":"","group":"86f53249.9289a","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":240,"wires":[[],[]]},{"id":"d23adfdb.a3504","type":"ui_gauge","z":"2daaac69.53a9e4","name":"","group":"86f53249.9289a","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-3","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":280,"wires":[]},{"id":"1b9eccc8.e504f3","type":"ui_switch","z":"2daaac69.53a9e4","name":"","label":"Mode automatique","group":"174fa4e8.9fe66b","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"piscine/filtration/auto","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":230,"y":640,"wires":[["e42d4a89.70a108"]]},{"id":"e42d4a89.70a108","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"","qos":"2","retain":"true","broker":"127e24f3.92106b","x":390,"y":640,"wires":[]},{"id":"a946609f.14b9d","type":"rfx-PT2262-out","z":"dbefc790.103258","name":"","port":"3d3e9eb2.4a2db2","deviceList":"2011ffe6.94d77","topicSource":"msg","retransmit":"none","retransmitInterval":20,"topic":"","x":290,"y":100,"wires":[]},{"id":"e8a62876.2b5358","type":"mqtt in","z":"dbefc790.103258","name":"","topic":"VMC/set","qos":"2","broker":"127e24f3.92106b","x":100,"y":100,"wires":[["a946609f.14b9d"]]},{"id":"76b36014.5d161","type":"comment","z":"dbefc790.103258","name":"VMC","info":"","x":90,"y":40,"wires":[]},{"id":"fb33718a.b3c9a","type":"comment","z":"dbefc790.103258","name":"Oregon sensors","info":"ex de msg:\nReceived: 0A,52,01,48,DC,01,00,B6,30,00,69\n\nL'ID est 0xDC01","x":120,"y":197,"wires":[]},{"id":"bf34f278.b093","type":"rfx-sensor","z":"dbefc790.103258","name":"SalleDeBain","port":"3d3e9eb2.4a2db2","topicSource":"single","topic":"TH1/0xDC01","x":110,"y":260,"wires":[["ebfdea08.4bc8c8"]]},{"id":"66924123.917d5","type":"debug","z":"dbefc790.103258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":240,"wires":[]},{"id":"6ced8ce3.115414","type":"mqtt out","z":"dbefc790.103258","name":"","topic":"","qos":"","retain":"","broker":"127e24f3.92106b","x":730,"y":360,"wires":[]},{"id":"e03b2e4e.8c9a","type":"change","z":"dbefc790.103258","name":"Build temp msg","rules":[{"t":"change","p":"topic","pt":"msg","from":"%sensor%","fromt":"str","to":"temperature","tot":"str"},{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":302,"wires":[["6ced8ce3.115414","66924123.917d5"]]},{"id":"ebfdea08.4bc8c8","type":"change","z":"dbefc790.103258","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"salledebain/%sensor%","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":260,"wires":[["e03b2e4e.8c9a","3246900f.23ada","201a44dd.f9ca1c"]]},{"id":"3246900f.23ada","type":"change","z":"dbefc790.103258","name":"Build humidity msg","rules":[{"t":"change","p":"topic","pt":"msg","from":"%sensor%","fromt":"str","to":"humidity","tot":"str"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":362,"wires":[["66924123.917d5","6ced8ce3.115414"]]},{"id":"201a44dd.f9ca1c","type":"change","z":"dbefc790.103258","name":"Build battery msg","rules":[{"t":"change","p":"topic","pt":"msg","from":"%sensor%","fromt":"str","to":"battery","tot":"str"},{"t":"move","p":"status.battery","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":422,"wires":[["6ced8ce3.115414","66924123.917d5"]]},{"id":"21e1be4d.0c11c2","type":"change","z":"dbefc790.103258","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"salledeau/%sensor%","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":360,"wires":[["e03b2e4e.8c9a","3246900f.23ada","201a44dd.f9ca1c"]]},{"id":"db8705a.25154f8","type":"rfx-sensor","z":"dbefc790.103258","name":"SalleDeau","port":"3d3e9eb2.4a2db2","topicSource":"single","topic":"TH1/0xF502","x":100,"y":360,"wires":[["21e1be4d.0c11c2"]]},{"id":"c483f7a5.6560c8","type":"rfx-sensor","z":"dbefc790.103258","name":"Exterieur","port":"3d3e9eb2.4a2db2","topicSource":"single","topic":"TH1/0x5004","x":100,"y":440,"wires":[["1b6f4b76.eaced5"]]},{"id":"1b6f4b76.eaced5","type":"change","z":"dbefc790.103258","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"exterieur/%sensor%","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["e03b2e4e.8c9a","3246900f.23ada","201a44dd.f9ca1c"]]}]