flows.json
[{"id":"2daaac69.53a9e4","type":"tab","label":"Piscine","disabled":false,"info":""},{"id":"97bb6cf9.c5bab","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"492b7a0a.e3cc44","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"127e24f3.92106b","type":"mqtt-broker","z":"","name":"domobeyou","broker":"192.168.0.18","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bb25499c.f80068","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"nodered","name":"","usetls":false,"tls":""},{"id":"dc95abaa.0c12c8","type":"mqtt in","z":"97bb6cf9.c5bab","name":"Test_mqtt","topic":"owntracks/openhab/lionel","qos":"2","broker":"127e24f3.92106b","x":111.16667556762695,"y":133.3333511352539,"wires":[["85c4b429.783518"]]},{"id":"85c4b429.783518","type":"json","z":"97bb6cf9.c5bab","name":"chepas","pretty":false,"x":325.16668701171875,"y":134.6666717529297,"wires":[["4f338edb.d2bd1"]]},{"id":"efe88f99.1f50c","type":"e-mail","z":"97bb6cf9.c5bab","server":"smtp.free.fr","port":"25","secure":false,"name":"lbeard@cls.fr","dname":"email","x":633.1666984558105,"y":184.66667461395264,"wires":[]},{"id":"4f338edb.d2bd1","type":"function","z":"97bb6cf9.c5bab","name":"Get batt","func":"var value = msg.payload.batt;\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":477.166690826416,"y":137.333345413208,"wires":[[]]},{"id":"a4cb81e2.fd392","type":"mqtt in","z":"492b7a0a.e3cc44","name":"CLS","topic":"owntracks/openhab/lionel/event","qos":"2","broker":"127e24f3.92106b","x":132,"y":109,"wires":[["18e4e9bc.c25d96","314df344.f93c8c","b278f2b8.e4171"]]},{"id":"df4234a7.8af398","type":"debug","z":"492b7a0a.e3cc44","name":"","active":true,"console":"false","complete":"payload","x":574,"y":92,"wires":[]},{"id":"18e4e9bc.c25d96","type":"function","z":"492b7a0a.e3cc44","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar now = Date();\nmsg.payload = JSON.parse(msg.payload);\nif (msg.payload._type == \"transition\")\n  if (msg.payload.event == \"enter\") {\n    msg.payload = \"Mon NODERED me fait te dire que j'arrive à CLS dans quelques minutes\";\n    return msg;\n  }\n  else\n    return null;","outputs":1,"noerr":0,"x":335,"y":113,"wires":[["df4234a7.8af398"]]},{"id":"3ef00329.1b796c","type":"e-mail","z":"492b7a0a.e3cc44","server":"smtp.free.fr","port":"25","secure":false,"name":"lbeard@cls.fr","dname":"email","x":520.0000305175781,"y":308.0000104904175,"wires":[]},{"id":"314df344.f93c8c","type":"debug","z":"492b7a0a.e3cc44","name":"","active":true,"console":"false","complete":"payload","x":298.0000305175781,"y":52.0000057220459,"wires":[]},{"id":"b278f2b8.e4171","type":"file","z":"492b7a0a.e3cc44","name":"","filename":"/data/owntracks-event.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":365.16669845581055,"y":194.00003051757812,"wires":[]},{"id":"15c4e587.60e0fa","type":"comment","z":"2daaac69.53a9e4","name":"Mode auto","info":"Gérer le mode auto depuis l'interface","x":100,"y":20,"wires":[]},{"id":"a05c1810.211878","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"eau_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":150,"y":140,"wires":[["394aedb8.d6fa72"]]},{"id":"4214d86f.391ef8","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"ext_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":140,"y":200,"wires":[["394aedb8.d6fa72"]]},{"id":"e0702f4.dee88d","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"local_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":150,"y":260,"wires":[["394aedb8.d6fa72"]]},{"id":"c23c0686.3810e8","type":"influxdb out","z":"2daaac69.53a9e4","influxdb":"bb25499c.f80068","name":"","measurement":"","precision":"","retentionPolicy":"","x":620,"y":200,"wires":[]},{"id":"394aedb8.d6fa72","type":"function","z":"2daaac69.53a9e4","name":"update to influx","func":"msg.payload = parseFloat(msg.payload)\nmsg.measurement = msg.topic.split(\"/\")[0]\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["c23c0686.3810e8"]]},{"id":"6e892e9d.46663","type":"influxdb in","z":"2daaac69.53a9e4","influxdb":"bb25499c.f80068","name":"Average water temperature","query":"SELECT MEAN(value) FROM eau_piscine WHERE time > now() - 1d","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["e59b1b3a.55ec78","45c2b7df.81f338"]]},{"id":"cb5b0c10.c6d0f","type":"comment","z":"2daaac69.53a9e4","name":"Feed influxdb","info":"","x":110,"y":100,"wires":[]},{"id":"3bb52dc5.656782","type":"comment","z":"2daaac69.53a9e4","name":"Calculate average water temperature once a day","info":"","x":220,"y":340,"wires":[]},{"id":"e59b1b3a.55ec78","type":"debug","z":"2daaac69.53a9e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"3a3b5b2c.94fba4","type":"inject","z":"2daaac69.53a9e4","name":"At 3am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"10","x":100,"y":380,"wires":[["6e892e9d.46663"]]},{"id":"dc13b284.b1c6a","type":"schedex","z":"2daaac69.53a9e4","name":"Filtration timer","suspended":false,"lat":"","lon":"","ontime":"","ontopic":"piscine/filtration/switch","onpayload":"ON","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"piscine/filtration/switch","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":900,"y":460,"wires":[["393cffef.32903","96df1794.dded88","49c5dc34.0ce984"]]},{"id":"45c2b7df.81f338","type":"function","z":"2daaac69.53a9e4","name":"Calculate filtration schedule","func":"// Règle de filtration:\n// Si t<10° => 2h par jour, de 4h à 6h\n// Si t<=15° => temp de l'eau / 3, à partir de 12h\n// Si t>15° => temp de l'eau / 2, à partir de 10h\n\nvar average_temp = msg.payload[0].mean\nif (average_temp < 10) {\n    msg.payload.ontime = \"04:00\"\n    msg.payload.offtime = \"06:00\"\n}\nelse if (average_temp <= 15) {\n    msg.payload.ontime = \"12:00\"\n    msg.payload.offtime = String(12 + parseInt(average_temp / 3)) + \":00\"\n}\nelse {\n    msg.payload.ontime = \"10:00\"\n    var offhour = 10 + parseInt(average_temp / 2)\n    if (offhour >= 24) {\n        offhour = offhour - 24\n    }\n    msg.payload.offtime = String(offhour) + \":00\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["2756947d.fa2c1c","7d678193.5d549","dc13b284.b1c6a","2735ef12.0aa53","2b092f83.8bc29"]]},{"id":"7a0913d.00c6cec","type":"inject","z":"2daaac69.53a9e4","name":"At nodered restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"20","x":130,"y":440,"wires":[["6e892e9d.46663"]]},{"id":"2756947d.fa2c1c","type":"debug","z":"2daaac69.53a9e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.ontime","x":920,"y":520,"wires":[]},{"id":"7d678193.5d549","type":"debug","z":"2daaac69.53a9e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.offtime","x":920,"y":620,"wires":[]},{"id":"45655cba.d66d84","type":"inject","z":"2daaac69.53a9e4","name":"test temp","topic":"","payload":"[{\"time\":\"2018-04-05T21:14:13.255Z\",\"mean\":25.54829545454545}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":480,"wires":[["45c2b7df.81f338"]]},{"id":"393cffef.32903","type":"debug","z":"2daaac69.53a9e4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1110,"y":360,"wires":[]},{"id":"96df1794.dded88","type":"pushover","z":"2daaac69.53a9e4","name":"","device":"","title":"Filtration automatique","priority":"-1","sound":"","url":"","url_title":"","x":1160,"y":400,"wires":[]},{"id":"2735ef12.0aa53","type":"change","z":"2daaac69.53a9e4","name":"","rules":[{"t":"move","p":"payload.ontime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":560,"wires":[["d6e15145.8a824"]]},{"id":"d6e15145.8a824","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/ontime","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1210,"y":560,"wires":[]},{"id":"2b092f83.8bc29","type":"change","z":"2daaac69.53a9e4","name":"","rules":[{"t":"move","p":"payload.offtime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":680,"wires":[["a3e0303b.494ea"]]},{"id":"a3e0303b.494ea","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/offtime","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1210,"y":680,"wires":[]},{"id":"49c5dc34.0ce984","type":"mqtt out","z":"2daaac69.53a9e4","name":"set filtration","topic":"","qos":"2","retain":"false","broker":"127e24f3.92106b","x":1210,"y":460,"wires":[]},{"id":"8a990534.c9e578","type":"comment","z":"2daaac69.53a9e4","name":"Manque la gestion du mode auto","info":"Activer/désactiver la filtration automatique","x":190,"y":560,"wires":[]},{"id":"62a46da.e17ed94","type":"comment","z":"2daaac69.53a9e4","name":"Manque la gestion du mode force","info":"2h\n4h\nIndéfini","x":190,"y":620,"wires":[]}]