flows.json
[{"id":"2daaac69.53a9e4","type":"tab","label":"Piscine","disabled":false,"info":""},{"id":"127e24f3.92106b","type":"mqtt-broker","z":"","name":"domobeyou","broker":"192.168.0.18","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb25499c.f80068","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"nodered","name":"","usetls":false,"tls":""},{"id":"8f268d4c.0cc87","type":"ui_tab","z":"","name":"Configurazione","icon":"dashboard"},{"id":"aa6b2b53.6856b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"15c4e587.60e0fa","type":"comment","z":"2daaac69.53a9e4","name":"Mode auto","info":"Gérer le mode auto depuis l'interface","x":100,"y":20,"wires":[]},{"id":"a05c1810.211878","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"eau_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":150,"y":140,"wires":[["394aedb8.d6fa72"]]},{"id":"4214d86f.391ef8","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"ext_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":140,"y":200,"wires":[["394aedb8.d6fa72"]]},{"id":"e0702f4.dee88d","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"local_piscine/temperature","qos":"2","broker":"127e24f3.92106b","x":150,"y":260,"wires":[["394aedb8.d6fa72"]]},{"id":"c23c0686.3810e8","type":"influxdb out","z":"2daaac69.53a9e4","influxdb":"bb25499c.f80068","name":"","measurement":"","precision":"","retentionPolicy":"","x":620,"y":200,"wires":[]},{"id":"394aedb8.d6fa72","type":"function","z":"2daaac69.53a9e4","name":"update to influx","func":"msg.payload = parseFloat(msg.payload)\nmsg.measurement = msg.topic.split(\"/\")[0]\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["c23c0686.3810e8"]]},{"id":"6e892e9d.46663","type":"influxdb in","z":"2daaac69.53a9e4","influxdb":"bb25499c.f80068","name":"Average water temperature","query":"SELECT MEAN(value) FROM eau_piscine WHERE time > now() - 1d","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["e59b1b3a.55ec78","45c2b7df.81f338"]]},{"id":"cb5b0c10.c6d0f","type":"comment","z":"2daaac69.53a9e4","name":"Feed influxdb","info":"","x":110,"y":100,"wires":[]},{"id":"3bb52dc5.656782","type":"comment","z":"2daaac69.53a9e4","name":"Calculate average water temperature once a day","info":"","x":220,"y":340,"wires":[]},{"id":"e59b1b3a.55ec78","type":"debug","z":"2daaac69.53a9e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"3a3b5b2c.94fba4","type":"inject","z":"2daaac69.53a9e4","name":"At 3am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"10","x":100,"y":380,"wires":[["6e892e9d.46663"]]},{"id":"dc13b284.b1c6a","type":"schedex","z":"2daaac69.53a9e4","name":"Filtration timer","suspended":false,"lat":"","lon":"","ontime":"","ontopic":"piscine/filtration/switch","onpayload":"ON","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"piscine/filtration/switch","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":900,"y":460,"wires":[["2e3a8c59.f56134"]]},{"id":"45c2b7df.81f338","type":"function","z":"2daaac69.53a9e4","name":"Calculate filtration schedule","func":"// Règle de filtration:\n// Si t<10° => 2h par jour, de 4h à 6h\n// Si t<=15° => temp de l'eau / 3, à partir de 12h\n// Si t>15° => temp de l'eau / 2, à partir de 10h\n\nvar average_temp = msg.payload[0].mean\nif (average_temp < 10) {\n    msg.payload.ontime = \"04:00\"\n    msg.payload.offtime = \"06:00\"\n}\nelse if (average_temp <= 15) {\n    msg.payload.ontime = \"12:00\"\n    msg.payload.offtime = String(12 + parseInt(average_temp / 3)) + \":00\"\n}\nelse {\n    msg.payload.ontime = \"10:00\"\n    var offhour = 10 + parseInt(average_temp / 2)\n    if (offhour >= 24) {\n        offhour = offhour - 24\n    }\n    msg.payload.offtime = String(offhour) + \":00\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["dc13b284.b1c6a","2735ef12.0aa53","2b092f83.8bc29"]]},{"id":"7a0913d.00c6cec","type":"inject","z":"2daaac69.53a9e4","name":"At nodered restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"20","x":130,"y":440,"wires":[["6e892e9d.46663"]]},{"id":"45655cba.d66d84","type":"inject","z":"2daaac69.53a9e4","name":"test temp","topic":"","payload":"[{\"time\":\"2018-04-05T21:14:13.255Z\",\"mean\":25.54829545454545}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":480,"wires":[["45c2b7df.81f338"]]},{"id":"393cffef.32903","type":"debug","z":"2daaac69.53a9e4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1590,"y":420,"wires":[]},{"id":"96df1794.dded88","type":"pushover","z":"2daaac69.53a9e4","name":"","device":"","title":"Filtration automatique","priority":"-1","sound":"","url":"","url_title":"","x":1640,"y":460,"wires":[]},{"id":"2735ef12.0aa53","type":"change","z":"2daaac69.53a9e4","name":"","rules":[{"t":"move","p":"payload.ontime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":528,"wires":[["d6e15145.8a824"]]},{"id":"d6e15145.8a824","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/ontime","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1210,"y":528,"wires":[]},{"id":"2b092f83.8bc29","type":"change","z":"2daaac69.53a9e4","name":"","rules":[{"t":"move","p":"payload.offtime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":586,"wires":[["a3e0303b.494ea"]]},{"id":"a3e0303b.494ea","type":"mqtt out","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/offtime","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1210,"y":586,"wires":[]},{"id":"49c5dc34.0ce984","type":"mqtt out","z":"2daaac69.53a9e4","name":"set filtration","topic":"","qos":"2","retain":"false","broker":"127e24f3.92106b","x":1610,"y":500,"wires":[]},{"id":"8a990534.c9e578","type":"comment","z":"2daaac69.53a9e4","name":"Manque la gestion du mode auto","info":"Activer/désactiver la filtration automatique","x":170,"y":580,"wires":[]},{"id":"62a46da.e17ed94","type":"comment","z":"2daaac69.53a9e4","name":"Gestion du mode force","info":"2h\n4h\nIndéfini","x":160,"y":680,"wires":[]},{"id":"4fd56cb4.0ea754","type":"mqtt in","z":"2daaac69.53a9e4","name":"","topic":"piscine/filtration/force","qos":"2","broker":"127e24f3.92106b","x":160,"y":740,"wires":[["5848dd1.64a1724"]]},{"id":"5848dd1.64a1724","type":"rbe","z":"2daaac69.53a9e4","name":"if value changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":740,"wires":[["c3a8a7af.dc5b68"]]},{"id":"c3a8a7af.dc5b68","type":"switch","z":"2daaac69.53a9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"99","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":780,"wires":[["f71e084d.c41158"],["3af49e70.09db12"],["1854a5de.917e5a","3af49e70.09db12"]]},{"id":"bb08d5c4.35c098","type":"change","z":"2daaac69.53a9e4","name":"ask to stop","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[["dc13b284.b1c6a"]]},{"id":"2e3a8c59.f56134","type":"switch","z":"2daaac69.53a9e4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"info","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":460,"wires":[["d6d1f83c.530c38"],["393cffef.32903","96df1794.dded88","49c5dc34.0ce984"]]},{"id":"d6d1f83c.530c38","type":"change","z":"2daaac69.53a9e4","name":"Set filtration value","rules":[{"t":"move","p":"payload.state","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"piscine/filtration/switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":380,"wires":[["5d111393.974e1c"]]},{"id":"5d111393.974e1c","type":"uppercase","z":"2daaac69.53a9e4","name":"","x":1400,"y":380,"wires":[["393cffef.32903","96df1794.dded88","49c5dc34.0ce984"]]},{"id":"3af49e70.09db12","type":"change","z":"2daaac69.53a9e4","name":"Suspend timer","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.suspended","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":740,"wires":[["61e02f1f.ec858","dc13b284.b1c6a"]]},{"id":"61e02f1f.ec858","type":"change","z":"2daaac69.53a9e4","name":"force start filtration","rules":[{"t":"set","p":"topic","pt":"msg","to":"piscine/filtration/switch","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":740,"wires":[["49c5dc34.0ce984"]]},{"id":"1854a5de.917e5a","type":"change","z":"2daaac69.53a9e4","name":"Set duration in milliseconds","rules":[{"t":"set","p":"delay","pt":"msg","to":"$number(payload) * 3600000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["27f7cbf7.4e2ff4"]]},{"id":"f71e084d.c41158","type":"change","z":"2daaac69.53a9e4","name":"Unsuspend timer","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.suspended","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["dc13b284.b1c6a","bb08d5c4.35c098"]]},{"id":"27f7cbf7.4e2ff4","type":"delay","z":"2daaac69.53a9e4","name":"Delay off filtration","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":800,"wires":[["358bedd8.5ebd22"]]},{"id":"c06c76ac.d84d68","type":"mqtt out","z":"2daaac69.53a9e4","name":"Stop force mode","topic":"piscine/filtration/force","qos":"1","retain":"true","broker":"127e24f3.92106b","x":1480,"y":800,"wires":[]},{"id":"358bedd8.5ebd22","type":"change","z":"2daaac69.53a9e4","name":"payload=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":800,"wires":[["c06c76ac.d84d68"]]}]